/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* 
  Navbar
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.logo-container{
  height: 100%;
}
.logo{
  height: 100%;
}

.navbar-menu{
  height: 80px;
  background-color: black;
  padding: 0px 90px 0px 90px;
  font-family: 'Special Elite', cursive;
  
}

.navbar-container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;

}

.navbar-links{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  height: 0%;
  align-items: center;
}

@media screen and (max-width: 1024px){
  .navbar-links{
    width: 80%;;
  }
}

@media screen and (max-width: 768px){
  .navbar-links{
    position: fixed;
    top: calc(100vh - 40px);
    font-size: 16px !important;
    display: flex;
    z-index: 999;
    justify-content: space-evenly;
    width: 100%;
  }
  .navbar-icon{
    position: fixed;
    top: 1.8rem;
    right: 1.5rem;
  }




}
.navbar-link{
  color: white;
  text-decoration: none;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  font-weight: 700;
  
}

.navbar-link:hover{
  color: red;
}
i{
  cursor: pointer;
}

i:hover{
  color: red;
}

/* 
Main content 
*/
.main-content{
  height: 850px;
  width: 100%;
  color: white;
}

.bg-container{
  background: url('./images/photo-1617196034183-421b4917c92d.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 70px 0px 0px 180px;

  font-family: 'Open Sans', sans-serif;
  ;
}

.hero-btn{
  height: 4rem;
  width: 15rem;
  background-color: rgb(249, 19, 19);
  opacity: 0.8;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.8px;
  font-size: 20px;
  padding: 0px .5rem 0px .5rem;
  font-weight: 600;
  margin-top: 1rem;
  font-family: 'Special Elite', cursive;
}


.menu-toggle{
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  cursor: pointer;
  color: white;
}

.hero-title{
  font-size: 55px;
  font-weight: 800;
  
  margin-top: 2rem;
  max-width: 60%;
  letter-spacing:2px;
  font-family: 'Special Elite', cursive;
  
}


@media screen and (max-width: 1300px){
  .bg-container{
    padding-left: 60px;
    padding-right: 40px;
  }

  .hero-title{
    max-width: 80%;
  }
}
@media screen and (max-width: 769px){
  .hero-title{
    max-width: 100%;
  }
  .hero-btn{
    margin: 2rem 0 0 3rem;
  }

}

/*   
  Login Modal
*/

.form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.input-field{
  position:relative;
  margin-bottom: 3rem;
  width: 100%;
}

.form-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  padding: 1rem;
  background: none;
  z-index: 1;
  border: 0.5px solid gray;
}

.form-label{
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 .25rem;
  background-color: #fff;
  color: rgb(181, 181, 181);
  transition: .3s;
}


.form-button{
  height: 3rem;
  background-color: #FF0000;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
}

.modal-tools{
  display: flex;
  justify-content: space-between;
}

.checkbox{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.recuperar-pass{
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.form-input:focus + .form-label{
  top: -.5rem;
  left: .8rem;
  font-weight: 500;
  z-index: 10;
  color: #1A73E8;
}

.form-input:not(:placeholder-shown).form-input:not(:focus)+ .form-label{
  top: -.5rem;
  left: .8rem;
  font-weight: 500;
  z-index: 10;
}

.modal-p{
  display: inline;
}

.modal-p:nth-child(2){
  font-weight: 600;
  border-bottom: 2px solid black;
  cursor: pointer;


}

.modal-forgot{
  cursor: pointer;
}

@media screen and (max-width: 1024px){

}
/* Vista de admin hecha por Pedro, hay que juntar ambas */
/* Custom main content */
.main-admin {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Custom Navbar */
.logo-title {
  display: flex;
  height: 100%;
  align-items: center;

}

.navbar-title {
  padding: 0 4rem;
  color: white;
}

/* Display of items for stock page */
.item-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #d3d3d3;

  height: 100%;
}

.admin-page{
  display: flex;
  /* ARREGLAR */
  min-height: 100vh;
}

/*  Sidebar */
.sidebar-menu{
  max-width: 200px;
  background-color: black;
}

.sidebar-menu .menu{
  margin: 1.5rem 0;
}

.sidebar-menu .menu-item{
  display: block;
  padding: 1em;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s linear;
  font-size: 20px;
  cursor: pointer;
}

.sidebar-menu .menu .menu-item.is-active{
  color: rgb(235, 29, 29);
  border-right: 5px solid rgb(235, 29, 29) ;
}


.sidebar-menu .menu .menu-item:hover{
  color: rgb(235, 29, 29);
}

li{
  list-style: none;
}

@media screen and (max-width: 1024px){
  .sidebar-menu{
    max-width: 200px;
  }
}

@media screen and (max-width: 768px){
  .menu-toggle{
    display: block;
  }

  .sidebar-menu{
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 100%;
    max-width: 300px;
    transition: 0.2s linear;
    z-index:  999;
  }

  .main-admin{
    width: 100%;
  }
  .navbar-menu{
    padding: 0;
  }

  .menu-toggle{
    right: 0rem;
  }
  .navbar-title{
    display: none;
  }

  .sidebar-menu.is-active{
    left: 0;

  }
  .item-display{
    justify-content: center;
  }
}

.delete-icon {
  font-size: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
}