@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;;
}

.logo-container{
  height: 100%;
}
.logo{
  height: 100%;
}

.navbar-menu{
  height: 80px;
  background-color: black;
  padding: 0px 90px 0px 90px;
  font-family: 'Open Sans', sans-serif;
  
}

.navbar-container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;

}

.navbar-links{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  height: 0%;
  align-items: center;;
}


.navbar-link{
  color: white;
  text-decoration: none;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  font-weight: 700;
  
}

.navbar-link:hover{
  color: red;
}
i{
  cursor: pointer;
}

i:hover{
  color: red;
}

.main-content{
  height: 700px;
  width: 100%;
  color: white;
}

.bg-container{
  background: url("./images/mahmoud-fawzy-EqoCUzG9200-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 70px 0px 0px 85px;
}

.hero-btn{
  height: 3rem;
  width: 12rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.8px;
  font-size: 20px;
  padding: 0px .5rem 0px .5rem;
  font-weight: 600;
}
